*.z01 filter=lfs diff=lfs merge=lfs -text
*.z02 filter=lfs diff=lfs merge=lfs -text
*.z03 filter=lfs diff=lfs merge=lfs -text
*.z04 filter=lfs diff=lfs merge=lfs -text
*.z05 filter=lfs diff=lfs merge=lfs -text
*.z06 filter=lfs diff=lfs merge=lfs -text
*.z07 filter=lfs diff=lfs merge=lfs -text
*.z08 filter=lfs diff=lfs merge=lfs -text
*.z09 filter=lfs diff=lfs merge=lfs -text
*.z10 filter=lfs diff=lfs merge=lfs -text
*.z11 filter=lfs diff=lfs merge=lfs -text
*.z12 filter=lfs diff=lfs merge=lfs -text
*.z13 filter=lfs diff=lfs merge=lfs -text
*.z14 filter=lfs diff=lfs merge=lfs -text
*.z15 filter=lfs diff=lfs merge=lfs -text
*.z16 filter=lfs diff=lfs merge=lfs -text
*.z17 filter=lfs diff=lfs merge=lfs -text
*.z18 filter=lfs diff=lfs merge=lfs -text
*.z19 filter=lfs diff=lfs merge=lfs -text
*.z20 filter=lfs diff=lfs merge=lfs -text
*.z21 filter=lfs diff=lfs merge=lfs -text
*.z22 filter=lfs diff=lfs merge=lfs -text
*.z23 filter=lfs diff=lfs merge=lfs -text
*.z24 filter=lfs diff=lfs merge=lfs -text
*.z25 filter=lfs diff=lfs merge=lfs -text
*.z26 filter=lfs diff=lfs merge=lfs -text
*.z27 filter=lfs diff=lfs merge=lfs -text
*.z28 filter=lfs diff=lfs merge=lfs -text
*.z29 filter=lfs diff=lfs merge=lfs -text
*.z30 filter=lfs diff=lfs merge=lfs -text
*.z31 filter=lfs diff=lfs merge=lfs -text
*.z32 filter=lfs diff=lfs merge=lfs -text
*.z33 filter=lfs diff=lfs merge=lfs -text
*.z34 filter=lfs diff=lfs merge=lfs -text
*.z35 filter=lfs diff=lfs merge=lfs -text
*.z36 filter=lfs diff=lfs merge=lfs -text
*.z37 filter=lfs diff=lfs merge=lfs -text
*.z38 filter=lfs diff=lfs merge=lfs -text
*.z39 filter=lfs diff=lfs merge=lfs -text
*.z40 filter=lfs diff=lfs merge=lfs -text
*.z41 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
